src/main/mule/customerprofile_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-customers-flow" doc:id="34e9e981-868d-4830-8953-5b899b14632f" >
		<logger level="INFO" doc:name="Logger" doc:id="f61f1fcd-e8eb-4c8b-bac2-8e380f90b647" message="starting flow get-customer-flow : #[payload]"/>
		<db:select doc:id="cc733243-8435-44a4-ad1b-73ae9707668a" config-ref="Database_Config">
			<db:sql >select * from CUSTOMER</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="09acfb4e-8266-4c65-9a23-06605ce11b6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	id : $.ID,
	firstName: $.FIRSTNAME,
	lastName: $.LASTNAME,
	dateOfBirth: $.DOB,
	gender: $.GENDER,
	title: $.TITLE
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1ae7aead-8915-4e96-894f-333d80e97f34" message="finished flow get-customer-flow : #[payload]"/>
	</flow>
	<flow name="post-customer-flow" doc:id="2464bb4e-4a34-4da3-a22e-7aef46be9097" >
		<logger level="INFO" doc:name="Logger" doc:id="670cfbd4-89c2-4f48-88e9-28ef88278d6c" message="starting flow post-customer-flow : #[payload]"/>
		<db:insert doc:name="Insert" doc:id="681a9ba9-e2af-4498-b31b-7311f7599c63" config-ref="Database_Config">
			<db:sql >INSERT INTO CUSTOMER (FIRSTNAME, LASTNAME, DOB, GENDER, TITLE)
VALUES
	(:fname, :lname, :dat, :gen, null);</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'fname':payload.firstName,
	'lname':payload.lastName,
	'dat':payload.dob,
	'gen':payload.gender
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#["Customer successfully added"]' doc:name="Set Payload" doc:id="4e482286-a0c1-42aa-8426-d0bddc09aa3e" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="5121e9e2-c466-4e4d-acb0-584255a3b54d" message="finished flow post-customer-flow : #[payload]"/>
	</flow>
	<flow name="delete-customer-flow" doc:id="d334f2ab-b30c-4f12-8eef-181c416c3d83" >
		<logger level="INFO" doc:name="Logger" doc:id="e802f321-aa41-4dd5-9176-17c0afb8ec67" message="starting flow delete-customer-flow : #[payload]"/>
		<db:delete doc:name="Delete" doc:id="fd45bed1-f437-4adb-a544-d6ee1417feda" config-ref="Database_Config">
			<db:sql >delete from CUSTOMER where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#['id' : attributes.uriParams.customerid]]]></db:input-parameters>
		</db:delete>
		<set-payload value='#["Customer deleted"]' doc:name="Set Payload" doc:id="4db64b5b-775d-4b81-878d-203bdb7d06dd" />
		<logger level="INFO" doc:name="Logger" doc:id="08f8df8f-9854-42b5-96e7-abf36f62dd52" message="finished flow delete-customer-flow : #[payload]"/>
	</flow>
	<flow name="put-customer-flow" doc:id="be6af876-a6c1-4458-9f72-de81b1fba499" >
		<logger level="INFO" doc:name="Logger" doc:id="9ba57a69-faf9-4d5a-8379-f798229ff98b" message="starting flow put-customer-flow : #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="db8ca319-cd23-4020-a0f4-5988e341f887" variableName="updateCustomerPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="8fdc40ea-a5f3-4722-8e20-2a8edef10599" message="#[vars.updateCustomerPayload]" />
		<set-variable value="#[attributes.uriParams.customerid]" doc:name="Set Variable" doc:id="dfeed3d9-e713-4c22-9a3a-9de6a17bb1b9" variableName="updateCustomerId"/>
		<logger level="INFO" doc:name="Logger" doc:id="1eb4deb6-4946-4753-93b7-bfa0b4725ebd" message="#[vars.updateCustomerId]"/>
		<db:select doc:name="Select" doc:id="89cc42e9-a818-4251-8b73-7236204e667c" config-ref="Database_Config">
			<db:sql >select * from CUSTOMER where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#['id' : attributes.uriParams.customerid]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="f890aaaa-f62d-4916-b311-c9f7e8c1217c" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<db:update doc:name="Update" doc:id="39edf1fd-8732-4cd2-a8e1-d2dafc123fe7" config-ref="Database_Config">
					<db:sql >update CUSTOMER
set FIRSTNAME= :fname, LASTNAME= :lname, DOB= :dob, GENDER= :gender, TITLE= :title where ID= :id</db:sql>
					<db:input-parameters ><![CDATA[#[{
	'fname' : vars.updateCustomerPayload.firstName,
	'lname' : vars.updateCustomerPayload.lastName,
	'dob' : vars.updateCustomerPayload.dob,
	'gender' : vars.updateCustomerPayload.gender,
	'title' : vars.updateCustomerPayload.title,
	'id' : vars.updateCustomerId
}]]]></db:input-parameters>
				</db:update>
				<set-payload value='{"message":"Customer updated successfully!!"}' doc:name="Set Payload" doc:id="5c7746b4-1435-4bbb-98b3-9a67d13cec91" />
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="cd37dc68-4184-43a9-a9b5-5a62939c3289" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4fe8f0d0-7e68-4d0b-85f7-9c1e68d478bc" message="finished flow put-customer-flow : #[payload]"/>
	</flow>
	<flow name="get-customer-withid-flow" doc:id="9bbc51fc-3d59-4a30-80ce-e57af58ca354" >
		<logger level="INFO" doc:name="Logger" doc:id="5aac4112-3f23-40b3-bccc-ab45522b0ca2" message="starting flow get-customer-withid-flow : #[payload]"/>
		<db:select doc:name="Select" doc:id="b7e160ba-de53-4b5e-a550-fe4142b5b6c8" config-ref="Database_Config">
			<db:sql >select * from CUSTOMER
where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id' : attributes.uriParams.customerid
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="372cd5b3-ff2b-47a1-aee2-4a7ae22d27e0" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="f959399c-3052-4121-b8ab-8fd8c7345e08">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	id : $.ID,
	firstName: $.FIRSTNAME,
	lastName: $.LASTNAME,
	dateOfBirth: $.DOB,
	gender: $.GENDER,
	title: $.TITLE
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="8ffe9d78-27d9-4d4c-ad51-358160b30454" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="d358479f-9a98-4551-84ae-b0784e07e811" message="finished flow get-customer-withid-flow : #[payload]"/>
	</flow>
	<flow name="get-addresses-flow" doc:id="8b4035ae-f250-4f39-b6c8-360ed9f1a901" >
		<logger level="INFO" doc:name="Logger" doc:id="fc95fd8b-053a-4073-843a-b675b91185e2" message="starting flow get-addresses-flow : #[payload]"/>
		<db:select doc:name="Select" doc:id="3756c7bd-7c4a-4b7a-ad3a-6c49d1cde90b" config-ref="Database_Config">
			<db:sql >select * from ADDRESS
where CUSTOMERID= :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id' : attributes.uriParams.customerid}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e74931e1-f6a9-4ece-b4ea-a332eb38e16c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	id : $.ID,
	firstName: $.FIRSTNAME,
	lastName: $.LASTNAME,
	dateOfBirth: $.DOB,
	gender: $.GENDER,
	title: $.TITLE
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="74858b93-4347-42b9-a5cb-8175deac5c6b" message="finished flow get-addresses-flow : #[payload]"/>
	</flow>
	<flow name="post-address-flow" doc:id="eb066c4c-a709-46f2-a584-386bbf3c496f" >
		<logger level="INFO" doc:name="Logger" doc:id="12d8eb95-1c94-4760-b654-91f085d9ef8e" />
		<db:insert doc:name="Insert" doc:id="41053539-bf32-43bd-bd43-0d39cdb98984" config-ref="Database_Config">
			<db:sql >INSERT INTO ADDRESS (CUSTOMERID, TYPE, NUMBER, STREET, UNIT, CITY, STATE, ZIPCODE)
VALUES (:cid, :type, :num, :street, :unit, :city, :state, :zip)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'cid': attributes.uriParams.customerid,
	'type':payload.typ,
	'num':payload.number,
	'street':payload.street,
	'unit' : payload.unit,
	'city' : payload.city,
	'state' : payload.state,
	'zip' :payload.zipcode
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="{&quot;message&quot;: &quot;Customer's address successfully added&quot;}" doc:name="Set Payload" doc:id="c387cf6d-16fb-4185-b09d-8635c8821064" />
		<logger level="INFO" doc:name="Logger" doc:id="88da175a-2ec5-44dc-8c8f-c75ec3ae24f0" message="finished flow post-address-flow : #[payload]"/>
	</flow>
	<flow name="delete-address-flow" doc:id="ecfb8e22-f9fc-4e69-a31f-bbd3ef70b797" >
		<logger level="INFO" doc:name="Logger" doc:id="70208021-e275-4822-b86e-4273ce997ae0" message="starting flow delete-address-flow : #[payload]"/>
		<db:delete doc:name="Delete" doc:id="2c3851f7-2c3f-4337-87d9-8b17bd29d003" config-ref="Database_Config">
			<db:sql >delete from ADDRESS where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#['id' : attributes.uriParams.addressid]]]></db:input-parameters>
		</db:delete>
		<set-payload value='{"message": "Address deleted!!"}' doc:name="Set Payload" doc:id="8d173781-11be-49e2-a70f-c7a20e76c5ee" />
		<logger level="INFO" doc:name="Logger" doc:id="0cdb4bcb-2b9c-4a5d-b35f-12d3d2e45843" message="finished flow delete-address-flow : #[payload]" />
	</flow>
	<flow name="put-address-flow" doc:id="79cfcee9-f28d-43c1-82f7-a7c60c86924a" >
		<logger level="INFO" doc:name="Logger" doc:id="24bc843c-1a9b-49b5-a7d9-500c721798f4" message="starting flow put-address-flow : #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="72255bbc-14c9-4853-adaa-ee18d988708c" variableName="updateAddressPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3ad6cb2-f3d7-4dd5-918e-bd643b9b273f" message="#[vars.updateAddressPayload]"/>
		<set-variable value="#[attributes.uriParams.addressid]" doc:name="Set Variable" doc:id="a954d608-df96-4bf5-8110-9a970dfe88d9" variableName="updateAddressId"/>
		<logger level="INFO" doc:name="Logger" doc:id="ea4cd4e2-75e3-474e-b4be-cbe8b0ef4268" message="#[vars.updateAddressId]"/>
		<db:select doc:name="Select" doc:id="f615c1c6-2f9d-4da1-b165-54a148801e24" config-ref="Database_Config">
			<db:sql >select * from ADDRESS where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#['id' : attributes.uriParams.addressid]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="0ee651a5-45f8-4274-bd15-239842d7307e" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<db:update doc:name="Update" doc:id="a81b416a-f955-4d45-ad40-1416d6ac6051" config-ref="Database_Config">
					<db:sql >update ADDRESS
set TYPE= :type, NUMBER=:num, STREET= :street, UNIT= :unit, CITY= :city, STATE= :state, ZIPCODE= :zip
where ID= :aid</db:sql>
					<db:input-parameters ><![CDATA[#[{
	'aid': vars.updateAddressId,
	'type':vars.updateAddressPayload.typ,
	'num':vars.updateAddressPayload.number,
	'street':vars.updateAddressPayload.street,
	'unit' : vars.updateAddressPayload.unit,
	'city' : vars.updateAddressPayload.city,
	'state' : vars.updateAddressPayload.state,
	'zip' :vars.updateAddressPayload.zipcode
}]]]></db:input-parameters>
				</db:update>
				<set-payload value='{"message":"Address updated successfully!!"}' doc:name="Set Payload" doc:id="6c2b78e8-c24d-41fb-9181-70e763a2934a" />
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="1b8fa644-99db-43f1-b3fa-0faa4be330ec" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="278419e9-98f1-4d97-af7b-d14d8ec4d20a" message="finished flow put-address-flow : #[payload]"/>
	</flow>
	<flow name="get-address-withid-flow" doc:id="a4c05204-d84c-4500-9858-af9bf617d3c2" >
		<logger level="INFO" doc:name="Logger" doc:id="05ebe17e-1aaf-4beb-a094-ecd30002edf1" message="starting flow get-address-withid-flow : #[payload]"/>
		<db:select doc:name="Select" doc:id="d42d469e-22a4-4a59-a7b6-994cdde490c6" config-ref="Database_Config" >
			<db:sql >select * from ADDRESS where ID= :id</db:sql>
			<db:input-parameters ><![CDATA[#['id' : attributes.uriParams.addressid]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c2ca807d-e2ee-40e3-b7d3-cad0c13d79d1" >
			<when expression="#[sizeOf(payload) &gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="025424a3-de3b-4708-80c6-770d3dd3b8f7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Id : payload.ID,
	CustomerId: payload.CUSTOMERID,
	Type: payload.TYPE,
	Number: payload.NUMBER,
	Street: payload.STREET,
	Unit: payload.UNIT,
	City: payload.CITY,
	State: payload.STATE,
	Zipcode: payload.ZIPCODE
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="79a2f56e-1090-4c53-930f-10787a644d2d" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="55fb6bfa-a33c-4554-9056-44e2757998c7" message="finished flow get-address-withid-flow : #[payload]"/>
	</flow>
	<flow name="get-contacts-flow" doc:id="7b62b63b-2b63-44a5-9cdb-121ad9e30e5e" >
		<logger level="INFO" doc:name="Logger" doc:id="1caf7215-43c7-48b0-8bb4-1ed21343b474" message="starting flow get-contacts-flow : #[payload]"/>
		<db:select doc:name="Select" doc:id="d2d2dbde-42c6-44ce-b72a-3f98c813866e" config-ref="Database_Config">
			<db:sql >select * from CONTACT
where CUSTOMERID= :cid</db:sql>
			<db:input-parameters ><![CDATA[#['cid' : attributes.uriParams.customerid]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d2ddea56-81b3-4ee4-97b0-eb028b236558" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	Id : $.ID,
	CustomerId : $.CUSTOMERID,
	Type: $.TYPE,
	Value: $.VALUE,
	Preferred: $.PREFERRED
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="86365dda-85de-4fa9-80ab-6a12a55ec561" message="finished flow get-contacts-flow : #[payload]"/>
	</flow>
	<flow name="post-contact-flow" doc:id="f42d5ffe-1601-40f9-bf97-70ad4e33ccd7" >
		<logger level="INFO" doc:name="Logger" doc:id="edde51e8-6f0f-4ea8-9117-ada2ef1ba7be" message="starting flow post-contact-flow : #[payload]"/>
		<db:insert doc:name="Insert" doc:id="56e172c3-961f-437a-8d7d-fbb5e986df35" config-ref="Database_Config">
			<db:sql >INSERT INTO `CONTACT` (`CUSTOMERID`, `TYPE`, `VALUE`, `PREFERRED`)
VALUES
	(:cid, :type, :value, :pref)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'cid': attributes.uriParams.customerid,
	'type':payload.typ,
	'value':payload.value,
	'pref':payload.prefered
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="{&quot;message&quot;: &quot;Customer's contacts successfully added&quot;}" doc:name="Set Payload" doc:id="27fc23b5-3f93-4ba1-a727-4494daaf0eda" />
		<logger level="INFO" doc:name="Logger" doc:id="6ea1ec07-aa5c-42c3-b61f-44af10dc30b9" message="finished flow post-contact-flow : #[payload]"/>
	</flow>
	<flow name="delete-contact-flow" doc:id="a086b75c-bcc8-4965-926b-806e441ad10f" >
		<logger level="INFO" doc:name="Logger" doc:id="47ccd8d9-d9b7-4ac8-8294-6e3d6c71ebf4" message="starting flow delete-contact-flow : #[payload]"/>
		<db:delete doc:name="Delete" doc:id="7b3dd543-c2bc-41e1-a55b-fec959e2300f" config-ref="Database_Config">
			<db:sql >delete from CONTACT where ID= :contactId</db:sql>
			<db:input-parameters ><![CDATA[#['contactId' : attributes.uriParams.contactid]]]></db:input-parameters>
		</db:delete>
		<set-payload value='{"message" : "Contact deleted!!"}' doc:name="Set Payload" doc:id="c6dfa399-e322-4430-8deb-79a2951dd2a5" />
		<logger level="INFO" doc:name="Logger" doc:id="7e9e0f1f-5293-4b30-bd61-4a82b4ba70d7" message="finished flow delete-contact-flow : #[payload]"/>
	</flow>
	<flow name="put-contact-flow" doc:id="68d0798c-8b82-4bbf-bdd5-6b0a9f2863e8" >
		<logger level="INFO" doc:name="Logger" doc:id="23969cb5-b0bf-44a5-beec-657da02f0e99" message="starting flow put-contact-flow : #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0c91f7f4-39c7-4cc0-9f4d-ad2256778873" variableName="updateContactPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="d0a8eac3-9033-4940-b943-fddd3071c635" message="#[vars.updateContactPayload]"/>
		<set-variable value="#[attributes.uriParams.contactid]" doc:name="Set Variable" doc:id="ffa81ef5-a3e2-40fe-b0f7-9800e8f844ea" variableName="updateContactId"/>
		<logger level="INFO" doc:name="Logger" doc:id="4d284917-db24-4d88-a784-a833ab33640d" message="#[vars.updateContactId]"/>
		<db:select doc:name="Select" doc:id="a649d7a1-4f1b-49e1-af56-43a16db14fe8" config-ref="Database_Config">
			<db:sql >select * from CONTACT where ID= :contactId</db:sql>
			<db:input-parameters ><![CDATA[#['contactId' : attributes.uriParams.contactid]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="3ce0e2d3-cf1e-4961-b70d-ca98a4d0c5cd" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<db:update doc:name="Update" doc:id="e86f017d-4df8-4d5a-9793-1c0ae1f37168" config-ref="Database_Config">
					<db:sql >update CONTACT
set TYPE=:type, VALUE=:value, PREFERRED=:pref
where ID= :contactId</db:sql>
					<db:input-parameters ><![CDATA[#[{
	'type':vars.updateContactPayload.typ,
	'value': vars.updateContactPayload.value,
	'pref': vars.updateContactPayload.prefered
}]]]></db:input-parameters>
				</db:update>
				<set-payload value='{"message":"Contact updated successfully!!"}' doc:name="Set Payload" doc:id="4830dc15-9e52-4459-8495-07f0d206211d" />
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="8bb7d721-a732-4515-b28c-bfc471643814" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="21749df7-72cc-4435-9e3e-0bcaad6b6122" message="finished flow put-contact-flow : #[payload]"/>
	</flow>
	<flow name="get-contact-withid-flow" doc:id="ab00a462-2475-4526-82b2-f2a98901ce16" >
		<logger level="INFO" doc:name="Logger" doc:id="26fc5ea1-cff2-4b7c-ae08-baddca7e3c64" message="starting flow get-contact-withid-flow : #[payload]"/>
		<db:select doc:name="Select" doc:id="bf6ab227-193c-4006-95aa-a479747bf65b" config-ref="Database_Config">
			<db:sql >select * from CONTACT
where ID= :contactId</db:sql>
			<db:input-parameters ><![CDATA[#['contactId' : attributes.uriParams.contactid]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="6606ed59-b605-459c-93e3-48007ef0e57a" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="3d0d5025-6c7a-4bb1-9ae6-c36b837f17af" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	Id : $.ID,
	CustomerId: $.CUSTOMERID,
	Type: $.TYPE,
	Value: $.VALUE,
	Preferred: $.PREFERRED
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value='{"message":"No data found"}' doc:name="Set Payload" doc:id="2bef2712-d5d1-4623-8b24-ec3863ecc6ec" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="71c85de0-e7d7-48f1-957d-1046119f8125" message="finished flow get-contact-withid-flow : #[payload]"/>
	</flow>
</mule>
