src/main/mule/customerprofile.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="customerprofile-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customerprofile-config" raml="customerprofile.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customerprofile-main">
        <http:listener config-ref="customerprofile-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customerprofile-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customerprofile-console">
        <http:listener config-ref="customerprofile-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customerprofile-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(customerid)\addresses\(addressid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="3450c043-c1d5-413a-8d44-81299f716247" name="put-address-flow"/>
    </flow>
    <flow name="put:\customers\(customerid)\contacts\(contactid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="ad9fa89d-0dc1-4d5d-8f77-1cf2fe413cf1" name="put-contact-flow"/>
    </flow>
	<flow name="put:\customers\(customerid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="5fe95def-eedd-4de5-9cb8-318b99ea89c3" name="put-customer-flow"/>
    </flow>
    <flow name="delete:\customers\(customerid)\addresses\(addressid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="8f640ed2-2421-4574-a4f3-becedcc4e69e" name="delete-address-flow"/>
    </flow>
    <flow name="delete:\customers\(customerid)\contacts\(contactid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="c708d9b4-2471-45f2-8e99-f923488c91b5" name="delete-contact-flow"/>
    </flow>
    <flow name="delete:\customers\(customerid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="0424e2ff-e018-49d1-96fd-419377797097" name="delete-customer-flow"/>
    </flow>
    <flow name="get:\customers\(customerid)\addresses:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="9e0ff1d6-9093-446c-8ee9-faddbae0b2c8" name="get-addresses-flow"/>
    </flow>
    <flow name="get:\customers\(customerid)\contacts:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="9e1d894f-c74f-456f-af8f-4f98863838e1" name="get-contacts-flow"/>
    </flow>
    <flow name="get:\customers:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="d711d0a6-8740-4548-b530-2dafb0181aa6" name="get-customers-flow"/>
    </flow>
    <flow name="get:\customers\(customerid)\addresses\(addressid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="79018e8b-59ad-47ac-a586-af111e04d6b1" name="get-address-withid-flow"/>
    </flow>
    <flow name="get:\customers\(customerid)\contacts\(contactid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="ab17753f-9f11-47d2-96ee-95577b20aa84" name="get-contact-withid-flow"/>
    </flow>
    <flow name="get:\customers\(customerid):customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="3791634a-99e7-47fd-93c5-8506568d2f6e" name="get-customer-withid-flow"/>
    </flow>
    <flow name="post:\customers\(customerid)\addresses:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="64ae57ff-0680-4b7c-82ac-9efb9bbad0be" name="post-address-flow"/>
    </flow>
    <flow name="post:\customers\(customerid)\contacts:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="7b2d8ca0-569c-484a-accd-85779cf3052d" name="post-contact-flow"/>
    </flow>
    <flow name="post:\customers:customerprofile-config">
		<flow-ref doc:name="Flow Reference" doc:id="9139c134-b46e-43d9-bff5-77acae7c7c35" name="post-customer-flow"/>
    </flow>
</mule>
